* {
    box-sizing: border-box;
}

.example {
    position: relative;
}

body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    position: relative;
    left: 30px;
}

.box {
    width: 350px;
    height: 300px;
    background-color: bisque;
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
}

.red {
    background-color: red;
    width: 50%;
}