* {
    font-family: 'Roboto', sans-serif;
}
.header {
    position: relative;
}
nav {
    height: 51px;
    background: #212121;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 71px;
    margin: 0;
    list-style: none;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.menu .menu_item {
    border-right: 2px dotted white;
    padding-right: 28px;
}
.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}
.subheader .subheader_official {
    margin-top: 6px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}
.subheader .subheader_col {
    display: block;
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}
.subheader .subheader_phone {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo {
    min-height: 800px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 130px 0;
}
.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_description {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 23px;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}