* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: 'Roboto - Bold';
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    border: 4px solid rgba(0, 0, 0, 0.23);
    cursor: pointer;

    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.promo .more_btn {
    width: 250px;
    height: 50px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.waiting {
    height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.waiting .waiting_divider {
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    align-items: center;
    text-align: center;
    color: #4A4A4A;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    margin: 0 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #4A4A4A;
}